body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.card {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 560px;
    padding: 25px;
    text-align: center;
    color: #022b3a;
    background-color: #a09ebb;
    border-bottom: 6px solid #87cbac;
}

.card-information{
    margin:auto
}